@charset  "UTF-8";

header {
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper{
    width: 1000px;
}

#main {
    width: 700px;
    background-color: #ccffcc;
    float: right;
}

#menu {
    width: 300px;
    background-color: #ccccff;
    float: right;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



